Gossip n°<%= @gossip.id %> :

Titre: <%= @gossip.title %>
Contenu: <%= @gossip.content %>


<a href='<%= edit_gossip_path %>'><button>Modifier l'article</button></a>

<!-- <%= button_to "Edit", edit_gossip_path %> -->
